[submodule "emscripten/WebARKitLib"]
	path = emscripten/WebARKitLib
	url = https://github.com/webarkit/WebARKitLib.git
[submodule "opencv"]
	path = opencv
	url = https://github.com/webarkit/opencv.git
[submodule "opencv_contrib"]
	path = opencv_contrib
	url = https://github.com/opencv/opencv_contrib
